apiVersion: apps/v1
kind: Deployment
metadata:
  name: boardgame
  namespace: webapps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: boardgame
  template:
    metadata:
      labels:
        app: boardgame
    spec:
      containers:
      - name: boardgame
        image: ameernadaf/boardgame:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: boardgame-svc
  namespace: webapps
spec:
  type: NodePort
  selector:
    app: boardgame
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 31508
